In [1]:
!pip install kloppy

Collecting kloppy
  Downloading kloppy-3.5.1-py3-none-any.whl (139 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.0/139.0 kB 593.3 kB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.7/site-packages (from kloppy) (2022.1)
Requirement already satisfied: lxml<5,>=4.4.0 in /opt/conda/lib/python3.7/site-packages (from kloppy) (4.9.0)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.7/site-packages (from kloppy) (4.1.1)
Requirement already satisfied: mypy-extensions in /opt/conda/lib/python3.7/site-packages (from kloppy) (0.4.3)
Requirement already satisfied: python-dateutil<3,>=2.8.1 in /opt/conda/lib/python3.7/site-packages (from kloppy) (2.8.2)
Requirement already satisfied: requests<3,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from kloppy) (2.27.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil<3,>=2.8.1->kloppy) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.0.0->kloppy) (2022.6.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.0.0->kloppy) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.0.0->kloppy) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.0.0->kloppy) (3.3)
Installing collected packages: kloppy
Successfully installed kloppy-3.5.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
from kloppy import datasets, wyscout
import json
import pandas as pd
import numpy as np

In [3]:
manu_westham = datasets.load('wyscout', match_id = 2499724)

In [4]:
teams_json = '../input/football-event-data/teams.json'
with open(teams_json) as f:
    data = json.load(f)
    teams = pd.json_normalize(data, sep = "_")
teams_map = dict()
for i, team in teams.iterrows():
    teams_map[team['wyId']] = team['name']
teams_map

{1613: 'Newcastle United',
 692: 'Celta de Vigo',
 691: 'Espanyol',
 696: 'Deportivo Alav\\u00e9s',
 695: 'Levante',
 3795: 'Troyes',
 698: 'Getafe',
 2454: "Borussia M'gladbach",
 1673: 'Huddersfield Town',
 678: 'Athletic Club',
 679: 'Atl\\u00e9tico Madrid',
 3766: 'Olympique Lyonnais',
 3767: 'PSG',
 674: 'Valencia',
 675: 'Real Madrid',
 676: 'Barcelona',
 714: 'Las Palmas',
 712: 'Legan\\u00e9s',
 3204: 'SPAL',
 10531: 'Swansea City',
 3771: 'Olympique Marseille',
 3770: 'Nantes',
 3775: 'Nice',
 3774: 'Rennes',
 3779: 'Strasbourg',
 701: 'Eibar',
 1659: 'AFC Bournemouth',
 1651: 'Brighton & Hove Albion',
 2443: 'Werder Bremen',
 2446: 'Bayer Leverkusen',
 2447: 'Borussia Dortmund',
 2444: 'Bayern M\\u00fcnchen',
 2445: 'Stuttgart',
 2449: 'Schalke 04',
 3157: 'Milan',
 3799: 'Angers',
 3159: 'Juventus',
 3158: 'Roma',
 3315: 'Sassuolo',
 1646: 'Burnley',
 3772: 'Bordeaux',
 2455: 'Hannover 96',
 3804: 'Dijon',
 2457: 'Hertha BSC',
 2451: 'Wolfsburg',
 2450: 'Hamburger SV',
 2453: 'Freiburg',
 3166: 'Bologna',
 3777: 'Metz',
 3164: 'Sampdoria',
 3165: 'Chievo',
 3162: 'Lazio',
 3163: 'Udinese',
 3161: 'Internazionale',
 1631: 'Leicester City',
 1633: 'West Ham United',
 1639: 'Stoke City',
 3219: 'Benevento',
 3782: 'Saint-\\u00c9tienne',
 756: 'Girona',
 1644: 'Watford',
 2482: 'Hoffenheim',
 3173: 'Cagliari',
 3172: 'Atalanta',
 3176: 'Fiorentina',
 1623: 'Everton',
 1627: 'West Bromwich Albion',
 1625: 'Manchester City',
 1624: 'Tottenham Hotspur',
 2481: 'Augsburg',
 1628: 'Crystal Palace',
 19830: 'Monaco',
 2460: 'Mainz 05',
 3776: 'Lille',
 2462: 'Eintracht Frankfurt',
 1619: 'Southampton',
 2463: 'K\\u00f6ln',
 1612: 'Liverpool',
 1610: 'Chelsea',
 1611: 'Manchester United',
 3185: 'Torino',
 3187: 'Napoli',
 677: 'Deportivo La Coru\\u00f1a',
 2975: 'RB Leipzig',
 1609: 'Arsenal',
 3783: 'Caen',
 3780: 'Toulouse',
 3787: 'Montpellier',
 3785: 'Guingamp',
 3789: 'Amiens SC',
 3197: 'Crotone',
 3194: 'Hellas Verona',
 3193: 'Genoa',
 684: 'Real Betis',
 687: 'Real Sociedad',
 680: 'Sevilla',
 683: 'M\\u00e1laga',
 682: 'Villarreal',
 14855: 'Korea Republic',
 10451: 'Hungary',
 4687: 'Turkey',
 14358: 'Russia',
 7047: 'Sweden',
 16276: 'Tunisia',
 6380: 'Brazil',
 3148: 'Germany',
 8731: 'Albania',
 11944: 'Romania',
 14622: 'Ukraine',
 16216: 'Morocco',
 14496: 'Slovakia',
 12430: 'Colombia',
 17929: 'Panama',
 8493: 'Australia',
 12274: 'Argentina',
 10962: 'Northern Ireland',
 9905: 'Portugal',
 5629: 'Belgium',
 7712: 'Denmark',
 15670: 'Uruguay',
 10682: 'Wales',
 16871: 'Costa Rica',
 2413: 'England',
 16129: 'Egypt',
 12913: 'Japan',
 10840: 'Iran',
 9109: 'Austria',
 7839: 'Iceland',
 9598: 'Croatia',
 15473: 'Mexico',
 8274: 'Republic of Ireland',
 11555: 'Czech Republic',
 19314: 'Senegal',
 3757: 'Italy',
 15594: 'Peru',
 4418: 'France',
 16521: 'Saudi Arabia',
 1598: 'Spain',
 17322: 'Serbia',
 6697: 'Switzerland',
 13869: 'Poland',
 16823: 'Nigeria'}

In [5]:
json_path = '../input/wyscoutdata/matches_England.json'
with open(json_path) as f:
    data = json.load(f)
    matches = pd.json_normalize(data, sep = "_")
    
players_json = "../input/football-event-data/players.json"
with open(players_json) as f:
    data = json.load(f)
    players = pd.json_normalize(data, sep = "_")

In [6]:
import os
os.listdir('/kaggle/input/wyscoutdata')

['matches_European_Championship.json',
 'matches_France.json',
 'matches_Italy.json',
 'matches_Spain.json',
 'matches_World_Cup.json',
 'matches_England.json',
 'matches_Germany.json']

In [7]:
players_map = dict()
for i, player in players.iterrows():
    players_map[player['wyId']] = player['firstName'] + ' ' + player['middleName'] + ' ' + player['lastName']
players_map

{32777: 'Harun  Tekin',
 393228: 'Malang  Sarr',
 393230: 'Over  Mandanda',
 32793: "Alfred John Momar  N'Diaye",
 393247: 'Ibrahima  Konat\\u00e9',
 33: 'Jasper  Cillessen',
 36: 'Toby  Alderweireld',
 48: 'Jan  Vertonghen',
 229427: 'Alexander  Djiku',
 54: 'Christian   Dannemann Eriksen',
 65596: 'Marcel  Sabitzer',
 66: 'Kolbeinn  Sig\\u00fe\\u00f3rsson',
 393284: 'Charles  Traor\\u00e9',
 77: 'Niklas  Moisander',
 91: 'Charlison  Benschop',
 93: 'Johann   Berg Gu\\u00f0munds\\u00adson',
 99: 'Przemys\\u0142aw  Tyto\\u0144',
 102: 'Marcelo Ant\\u00f4nio  Guedes Filho',
 110: 'Jetro  Willems',
 131184: 'Ali Adnan Kadhim  Al Tameemi',
 114: 'Kevin  Strootman',
 118: 'Memphis  Depay',
 122: 'Dries  Mertens',
 123: 'Ola  Toivonen',
 130: 'Stefan  de Vrij',
 142: 'Karim  El Ahmadi Al Aroos',
 151: 'John  Guidetti',
 32923: 'Volkan  Babacan',
 159: 'Jeffrey  Gouweleeuw',
 174: 'Filip  \\u0110uri\\u010di\\u0107',
 32959: 'Peter  Pekar\\u00edk',
 192: 'Jago\\u0161  Vukovi\\u0107',
 32968: 'Nordin  Amrabat',
 131321: 'Christian  Kouakou Yao',
 254: 'Roberto Jos\\u00e9  Rosales Altuve',
 261: 'Nacer  Chadli',
 295176: 'Robin  Gosens',
 229697: 'Yacine  Bammou',
 328021: 'Florian  Le Joncour',
 65880: 'Andr\\u00e9  Ramalho Silva',
 393566: 'Davide  Borsellini',
 16443: 'Leon-Aderemi  Balogun',
 295273: 'Godfred  Donsah',
 382: 'Hyun-Jun  Suk',
 383: 'Du\\u0161an  Tadi\\u0107',
 394: 'Bram  Nuytinck',
 405: 'Lasse  Sch\\u00f6ne',
 376908: 'Ablie  Jallow',
 33235: 'Bogdan Sorin  Stancu',
 328190: 'Gregor  Kobel',
 360992: 'Denis Lemi  Zakaria Lako Lado',
 625: 'Marten  de Roon',
 230020: 'Alex  Iwobi',
 328333: 'Lorenzo  Pellegrini',
 328336: 'Mohamed Salim  Fares',
 295569: 'Ot\\u00e1vio Henrique  Passos Santos',
 393881: 'Hern\\u00e1n Dar\\u00edo  Toledo',
 703: 'Maya  Yoshida',
 426692: 'Bryan  Passi',
 426702: 'Hamza  Mendyl',
 426714: 'Anthony  Caci',
 5481: 'Miguel \\u00c1ngel  Guerrero Mart\\u00edn',
 786: 'R\\u00f3bert  Maz\\u00e1\\u0148',
 394006: 'Martin  Terrier',
 394008: 'Th\\u00e9odore  Efouba Ayissi',
 332821: 'Tyronne  Ebuehi',
 328488: 'Patrick  Burner',
 295761: 'Samuel  Grandsir',
 404285: 'V\\u00edctor  L\\u00f3pez Ib\\u00e1\\u00f1ez',
 131959: 'Jean Micha\\u00ebl  Seri',
 263091: 'Gerard  Gumbau Garriga',
 263105: 'Pablo  Maffeo Becerra',
 99381: 'Artur  J\\u0119drzejczyk',
 99391: 'Maciej  Rybus',
 99410: 'Marcin  Kami\\u0144ski',
 66654: 'Karim  Onisiwo',
 99425: 'Artjoms  Rud\\u0146evs',
 99430: '\\u0141ukasz  Skorupski',
 99437: 'Pawe\\u0142  Olkowski',
 99452: 'Arkadiusz  Milik',
 99453: 'Pr\\u00e9juce Niguimb\\u00e9  Nakoulma',
 20771: 'Gianluca  Pegolo',
 99511: 'Mariusz  St\\u0119pi\\u0144ski',
 230626: 'Duje  \\u0106aleta-Car',
 240507: 'Edvinas  Gertmonas',
 69874: 'Hrvoje  Mili\\u0107',
 492782: 'Jonathan  Klinsmann',
 263432: 'Francesco  Vicari',
 263433: 'Alex  Ferrari',
 230687: 'Emil  Berggreen',
 99633: 'Igor  Lewczuk',
 361779: 'Cheick  Keita',
 329026: 'Carlos  Calder\\u00f3n L\\u00f3pez',
 99661: 'Thiago  Rangel Cionek',
 361807: 'Rodrigo  Bentancur Colm\\u00e1n',
 296341: 'Bernardo  Fernandes da Silva Junior',
 99749: 'Rafa\\u0142  Gikiewicz',
 263591: 'Alessandro  Deiola',
 263614: 'Nadiem  Amiri',
 230857: 'Yeray  \\u00c1lvarez L\\u00f3pez',
 230862: '\\u00cd\\u00f1igo  Lekue Mart\\u00ednez',
 198120: 'Ali  Gabr',
 230895: 'Pere  Pons Riera',
 230897: 'Federico Nicol\\u00e1s  Cartabia',
 99833: 'Bartosz  Bereszy\\u0144ski',
 38241: '\\u00d3lafur Ingi  Sk\\u00falason',
 165425: 'Dominik  Kohr',
 99902: 'Piotr  Zieli\\u0144ski',
 263766: 'Jemerson  de Jesus Nascimento',
 263802: 'Youri  Tielemans',
 263803: 'Timothy  Castagne',
 1712: 'Kenny  Tete',
 1722: 'Viktor  Fischer',
 1729: 'Riechedly  Bazoer',
 1751: 'Oussama  Tannane',
 231138: 'Presnel  Kimpembe',
 231139: 'Kingsley  Coman',
 263948: 'Gabriel  Barbosa Almeida',
 231184: 'Mamadou  Sissako',
 34592: '\\u015eener  \\u00d6zbayrakl\\u0131',
 102629: 'Andrey  Semenov',
 493412: 'Yoel  Armougom',
 493415: 'K\\u00e9vin Lucien  Zohi',
 395114: 'Igor  Zubeld\\u00eda Elorza',
 132972: 'George  Gope-Fenepej',
 264084: 'Pierluigi  Gollini',
 284322: 'Ezequiel  Ponce Mart\\u00ednez',
 388099: 'Enrico  Bearzotti',
 20802: 'Emiliano  Viviano',
 395636: 'Maximiliano  G\\u00f3mez Gonz\\u00e1lez',
 264778: 'Moctar El Hacen  El Id',
 166534: 'Thomas  Strakosha',
 330387: 'Marcus  Coco',
 35477: 'Joel  Pohjanpalo',
 115146: 'Miguel \\u00c1ngel  Trauco Saavedra',
 22313: 'Vincent  Laurini',
 264989: 'Firmin Ndombe  Mubele',
 265172: 'Anton\\u00edn  Bar\\u00e1k',
 297957: 'Manuel  Akanji',
 134174: 'Samuel   Castillejo Azuaga',
 363560: 'Filip  Manojlovi\\u0107',
 134249: 'Rub\\u00e9n  Sobrino Pozuelo',
 101581: 'Vasili  Berezutski',
 363648: 'Julio C\\u00e9sar  Villalba Gaona',
 265366: 'Onyinye Wilfred  Ndidi',
 265368: 'Abdullahi  Shehu',
 101555: 'Tom\\u00e1\\u0161  Hubo\\u010dan',
 101558: 'Bruno Eduardo  Regufe Alves',
 396475: 'Achraf  Hakimi Mouh',
 167104: 'Eloi  Amagat Arimany',
 3267: 'Vicente  Guaita Panadero',
 3269: 'Jordi  Alba Ramos',
 3270: 'Antonio  Barrag\\u00e1n Fern\\u00e1ndez',
 101576: 'Igor  Akinfeev',
 3276: 'Adil  Rami',
 3277: 'V\\u00edctor  Ru\\u00edz Torre',
 167119: 'Sabin  Merino Zuloaga',
 3280: '\\u00c9ver Maximiliano David  Banega',
 3281: 'Juan  Bernat Velasco',
 3282: 'Sergio  Canales Madrazo',
 3286: 'Daniel  Parejo Mu\\u00f1oz',
 3287: 'Cristian  Portugu\\u00e9s Manzanera',
 101592: 'Keisuke  Honda',
 3289: 'Mehmet  Topal',
 3290: 'Aritz  Aduriz Zubeldia',
 3291: 'Francisco  Alc\\u00e1cer Garc\\u00eda',
 3293: 'Pablo Daniel  Piatti',
 3296: 'Antonio  Ad\\u00e1n Garrido',
 3299: 'Fernando  Pacheco Flores',
 298212: 'Dalbert Henrique  Chagas Estev\\u00e3o',
 101606: 'Ahmed  Musa',
 3304: 'Jos\\u00e9 Ignacio  Fern\\u00e1ndez Iglesias',
 3306: 'Sergio  Ramos Garc\\u00eda',
 3307: 'Ricardo Alberto  Silveira de Carvalho',
 3308: 'Pedro Filipe  Teod\\u00f3sio Mendes',
 3309: 'Rapha\\u00ebl  Varane',
 3310: 'Marcelo  Vieira da Silva J\\u00fanior',
 134383: 'Niklas  S\\u00fcle',
 3313: 'Jos\\u00e9 Mar\\u00eda  Callej\\u00f3n Bueno',
 3315: 'Lassana  Diarra',
 3317: 'Esteban F\\u00e9lix  Granero Molina',
 3318: 'Sami  Khedira',
 3319: 'Mesut  \\u00d6zil',
 3320: 'Nuri  \\u015eahin',
 3321: 'Karim  Benzema',
 3322: 'Cristiano Ronaldo  dos Santos Aveiro',
 3323: 'Gonzalo Gerardo  Higua\\u00edn',
 3325: 'Juan Francisco  Moreno Fuertes',
 3330: 'Oier  Olaz\\u00e1bal Paredes',
 101635: 'Felipe Salvador  Caicedo Corozo',
 3334: 'Daniel  Alves da Silva',
 3335: 'Marc  Bartra Aregall',
 3337: 'Andreu  Font\\u00e0s Prat',
 3338: 'Sergi  G\\u00f3mez Sol\\u00e0',
 3339: 'Mart\\u00edn  Montoya Torralbo',
 3340: 'Marc  Muniesa Mart\\u00ednez',
 134413: 'Alessio  Cragno',
 3344: 'Rafael  Alc\\u00e2ntara do Nascimento',
 3345: 'Thiago  Alc\\u00e2ntara do Nascimento',
 3346: 'Sergio  Busquets i Burgos',
 3347: 'Sergi  Roberto Carnicer',
 134420: 'Filippo  Costa',
 3349: 'Jonathan  dos Santos Ram\\u00edrez',
 3353: 'Andr\\u00e9s  Iniesta Luj\\u00e1n',
 134427: 'Daniele  Rugani',
 134429: 'Leonardo  Capezzi',
 3358: 'Cristian  Tello Herrera',
 3359: 'Lionel Andr\\u00e9s  Messi Cuccittini',
 134435: 'Alberto  Grassi',
 101669: 'Artem  Dzyuba',
 3384: 'Jos\\u00e9 Andr\\u00e9s  Guardado Hern\\u00e1ndez',
 101699: 'Alexandr  Samedov',
 3397: 'Kepa  Arrizabalaga Revuelta',
 3398: 'Ra\\u00fal  Fern\\u00e1ndez-Cavada Mateos',
 3399: 'Gorka  Iraizoz Moreno',
 134475: 'Riccardo  Piscitelli',
 3407: 'Jon\\u00e1s   Ramalho Chimeno',
 3408: 'Enric  Saborit Teixidor',
 3409: 'Mikel  San Jos\\u00e9 Dom\\u00ednguez',
 3414: 'Ander  Iturraspe Derteano',
 3416: 'Javier  Mart\\u00ednez Aginaga',
 3420: 'Markel  Susaeta Laskurain',
 3421: '\\u00d3scar  de Marcos Arana',
 3423: 'Ibai  G\\u00f3mez P\\u00e9rez',
 3425: 'Iker  Muniain Go\\u00f1i',
 3428: 'Sergio   Asenjo Andr\\u00e9s',
 134503: 'Cl\\u00e9ment  Lenglet',
 3433: 'Diego Roberto  God\\u00edn Leal',
 3434: 'Filipe Luis  Kasmirski',
 134508: 'Seko  Fofana',
 101742: 'Cristian Daniel  Ansaldi',
 3443: 'Jorge  Resurrecci\\u00f3n Merodio',
 3445: 'Eduardo Antonio  Salvio',
 3447: 'Juan Francisco  Torres Bel\\u00e9n',
 3448: 'Arda  Turan',
 3450: 'Radamel Falcao  Garc\\u00eda Z\\u00e1rate',
 3451: 'Adri\\u00e1n  L\\u00f3pez \\u00c1lvarez',
 3458: 'Sergio  Rico Gonz\\u00e1lez',
 3460: 'Jorge  And\\u00fajar Moreno',
 3463: 'Federico Juli\\u00e1n  Fazio',
 3464: 'Antonio Manuel  Luna Rodr\\u00edguez',
 3465: 'Fernando  Navarro i Corbacho',
 3466: 'Alexis  Ruano Delgado',
 134540: 'Layvin  Kurzawa',
 3470: 'Jos\\u00e9 \\u00c1ngel  G\\u00f3mez Campa\\u00f1a',
 3474: 'Jes\\u00fas  Navas Gonz\\u00e1lez',
 3475: 'Diego  Perotti',
 3476: 'Ivan  Rakiti\\u0107',
 3484: 'Luis Alberto  Romero Alconchel',
 134557: 'Ahmet Yilmaz  \\u00c7al\\u0131k',
 3486: 'Andr\\u00e9s Eduardo  Fern\\u00e1ndez Moreno',
 3488: 'Asier  Riesgo Unamuno',
 101795: 'Lacina  Traor\\u00e9',
 101796: 'Marcos Danilo  Ure\\u00f1a Porras',
 3496: 'Sergio  Postigo Redondo',
 3503: 'Ra\\u00fal  Garc\\u00eda Escudero',
 3509: 'Masoud  Shojaei Soleimani',
 3510: 'David  Timor Copov\\u00ed',
 3517: 'Enrique  Sola Clemente',
 3519: 'Diego  L\\u00f3pez Rodr\\u00edguez',
 101825: 'Igor  Smolnikov',
 3526: 'Mateo Pablo  Musacchio',
 265673: 'Bernardo  Mota Veiga de Carvalho e Silva',
 3531: 'Cristian Eduardo  Zapata Valencia',
 3534: 'Jaume Vicent  Costa Jord\\u00e1',
 3535: 'Jonathan   de Guzm\\u00e1n',
 3538: 'Mubarak  Wakaso',
 3539: 'Hern\\u00e1n Arsenio  P\\u00e9rez Gonz\\u00e1lez',
 3541: 'Bruno   Soriano Llido',
 3542: 'Manuel  Trigueros Mu\\u00f1oz',
 101847: 'Mehdi  Carcela-Gonz\\u00e1lez',
 3548: 'Giuseppe  Rossi',
 3551: 'Wilfredo Daniel  Caballero',
 3554: 'Rub\\u00e9n Iv\\u00e1n  Mart\\u00ednez Andrade',
 364005: 'Federico Santiago  Valverde Dipetta',
 462312: '\\u00cdan  Pino Soler',
 3562: 'Sergio  S\\u00e1nchez Ortega',
 3563: 'Francisco Rom\\u00e1n  Alarc\\u00f3n Su\\u00e1rez',
 3566: 'Ignacio  Camacho Barnola',
 3568: 'Jos\\u00e9 Luis  Garc\\u00eda del Pozo',
 3570: 'Eliseu  Pereira dos Santos',
 3571: 'Joaqu\\u00edn  S\\u00e1nchez Rodr\\u00edguez',
 3572: 'Francisco  Portillo Soler',
 3573: 'J\\u00e9r\\u00e9my  Toulalan',
 3576: 'Juan Miguel  Jim\\u00e9nez L\\u00f3pez',
 3595: 'Be\\u00f1at  Etxebarria Urkiaga',
 3604: 'Rub\\u00e9n  Castro Mart\\u00edn',
 3605: 'Jorge  Molina Vidal',
 134708: 'Divock  Okoth Origi',
 3642: 'Iv\\u00e1n  Ramis Barrios',
 3644: 'Pedro  Bigas Rigo',
 3645: 'Gonzalo  Castro Iriz\\u00e1bal',
 3650: 'Tom\\u00e1s  Pina Isla',
 3663: 'Antonio Miguel  Ram\\u00edrez Mart\\u00ednez',
 3667: 'Alberto  De La Bella Madure\\u00f1o',
 3671: '\\u00cd\\u00f1igo  Mart\\u00ednez Berridi',
 3672: 'Carlos  Mart\\u00ednez D\\u00edez',
 3676: 'Asier  Illarramendi Andonegi',
 3677: 'Rub\\u00e9n  Pardo Guti\\u00e9rrez',
 3678: 'Xabier  Prieto Argarate',
 3680: 'David  Zurutuza Veillet',
 3681: 'Imanol  Agirretxe Arruti',
 3682: 'Antoine  Griezmann',
 3685: 'Carlos Alberto  Vela Garrido',
 3692: 'Bernardo Jos\\u00e9  Espinosa Z\\u00fa\\u00f1iga',
 3695: '\\u00c1lvaro  Gonz\\u00e1lez Sober\\u00f3n',
 134769: 'Yannick  Ferreira Carrasco',
 3704: 'Papakouli  Diop',
 3705: 'Adri\\u00e1n   Gonz\\u00e1lez Morales',
 3708: 'Jairo  Samperio Bustara',
 3710: 'Khouma  El Hadji Babacar',
 3714: 'Cristhian Ricardo  Stuani Curbelo',
 3719: 'Roberto  Jim\\u00e9nez Gago',
 265864: 'Nemanja  Maksimovi\\u0107',
 265865: 'Sergej  Milinkovi\\u0107-Savi\\u0107',
 134797: 'Hernani  Azevedo J\\u00fanior',
 3735: 'Juan Carlos  P\\u00e9rez L\\u00f3pez',
 3736: 'Franco  Zuculini',
 3750: 'Mikel  Balenziaga Oruesagasti',
 3779: 'Alberto   Bueno Calvo',
 3785: 'Francisco  Casilla Cort\\u00e9s',
 3788: 'Jordi  Amat Maas',
 3791: 'Zouhair  Feddal',
 3795: 'H\\u00e9ctor Alfredo  Moreno Herrera',
 3798: 'D\\u00eddac  Vil\\u00e1 Rossell\\u00f3',
 167641: 'Stanislav  Lobotka',
 3802: 'Philippe  Coutinho Correia',
 3803: 'Sergi  Darder Moll',
 3806: 'Javier   L\\u00f3pez Rodr\\u00edguez',
 3816: 'Sergio  Garc\\u00eda De La Fuente',
 397033: 'Boubakary  Soumar\\u00e9',
 3821: 'Sergio  \\u00c1lvarez Conde',
 3822: 'Rub\\u00e9n  Blanco Veiga',
 3823: 'Yoel  Rodr\\u00edguez Oterino',
 3827: 'Hugo  Mallo Novegil',
 397046: 'Houssem  Aouar',
 3840: 'Iago  Aspas Juncal',
 3843: 'Fabi\\u00e1n Ariel  Orellana Valenzuela',
 102157: 'Yury  Gazinskiy',
 3856: 'Francisco Jos\\u00e9  Molinero Calder\\u00f3n',
 69396: 'Domagoj  Vida',
 69400: 'Milan  Badelj',
 3866: 'Manuel Rolando  Iturra Urrutia',
 69404: 'Mateo  Kova\\u010di\\u0107',
 69409: '\\u0160ime  Vrsaljko',
 3874: 'Enrique  Garc\\u00eda Mart\\u00ednez',
 69411: 'Andrej  Kramari\\u0107',
 101604: 'Pontus  Wernbloom',
 134951: 'L\\u00e9o  Lacroix',
 3885: 'Leandro Daniel  Cabrera Sas\\u00eda',
 3915: 'Keylor  Navas Gamboa',
 3916: 'Gustavo Daniel  Cabral C\\u00e1ceres',
 3919: 'Iv\\u00e1n  L\\u00f3pez Mendoza',
 3920: 'Pedro  L\\u00f3pez Mu\\u00f1oz',
 3934: 'Nabil  El Zhar',
 3937: 'Roger  Mart\\u00ed Salvador',
 397178: 'Marcus  Rashford',
 3963: 'Iv\\u00e1n  Cu\\u00e9llar Sacrist\\u00e1n',
 3970: 'Alejandro  G\\u00e1lvez Jimena',
 3974: 'Dami\\u00e1n Nicol\\u00e1s  Su\\u00e1rez Su\\u00e1rez',
 69513: 'Ante  Budimir',
 69525: 'Mateo  Pavlovi\\u0107',
 3994: 'Miguel \\u00c1ngel  Moy\\u00e0 Rumbo',
 4003: 'Miguel  Torres G\\u00f3mez',
 4009: 'Mehdi  Lacen',
 4013: 'Rub\\u00e9n Salvador  P\\u00e9rez Del M\\u00e1rmol',
 4014: 'Pedro Le\\u00f3n  S\\u00e1nchez Gil',
 4015: 'Pablo  Sarabia Garc\\u00eda',
 397239: 'Luca  Pellegrini',
 135103: 'Andreas  Christensen',
 4048: 'Sergio  Enrich Ametller',
 4065: 'Jeison Fabi\\u00e1n  Murillo Cer\\u00f3n',
 135150: 'Andreas Evald  Cornelius',
 69616: 'Ante  Rebi\\u0107',
 4086: 'Eneko  B\\u00f3veda Altube',
 397303: 'Ferr\\u00e1n  Torres Garc\\u00eda',
 4094: 'Ander  Capa Rodr\\u00edguez',
 4113: 'Xabier  Etxeita Gorritxategi',
 4131: '\\u00c1ngel Luis  Rodr\\u00edguez D\\u00edaz',
 135207: 'H\\u00f6r\\u00f0ur  Bj\\u00f6rgvin Magn\\u00fasson',
 266286: 'Marlon  Santos da Silva Barbosa',
 4180: 'David  Rodr\\u00edguez Lomb\\u00e1n',
 364641: 'Simone  Pontisso',
 364644: 'Assane  Diouss\\u00e9 El Hadji',
 4232: 'Pedro  Alcal\\u00e1 Guirado',
 299154: 'Samuel  Moutoussamy',
 331923: "Kevin  N'Doram",
 4256: 'Aleix  Vidal Parreu',
 4272: 'Joaqu\\u00edn  Navarro Jim\\u00e9nez',
 4278: 'Borja  Garc\\u00eda Freire',
 4303: 'David  L\\u00f3pez Silva',
 4319: 'Daniel  Gim\\u00e9nez Hern\\u00e1ndez',
 364772: 'Chidozie  Collins Awaziem',
 22566: 'Alessandro   Florenzi',
 4326: 'Roberto  Rom\\u00e1n Triguero',
 4332: 'Javier  Fuego Mart\\u00ednez',
 4338: 'Diego  da Silva Costa',
 4343: 'Daniel  Pacheco Lobato',
 82644: 'David  Pavelka',
 4348: 'Mariano Dami\\u00e1n  Barbosa',
 4350: 'Ra\\u00fal  Lizo\\u00e1in Cruz',
 4355: 'David  Garc\\u00eda Santana',
 4358: 'V\\u00edctor  Laguardia Cisneros',
 4360: 'Juan Pedro  Ram\\u00edrez L\\u00f3pez',
 4361: 'Javi  Castellano Betancor',
 4362: 'Jer\\u00f3nimo  Figueroa Cabrera',
 4363: 'Jos\\u00e9 Vicente  G\\u00f3mez Umpi\\u00e9rrez',
 4365: 'Roque  Mesa Quevedo',
 4371: 'Dani  Castellano Betancor',
 364820: 'Lorenzo Jes\\u00fas  Mor\\u00f3n Garc\\u00eda',
 4375: 'V\\u00edctor  Mach\\u00edn P\\u00e9rez',
 364850: 'H\\u00e9ctor Junior  Firpo Adames',
 364860: 'Rodrigo  Hern\\u00e1ndez Cascante',
 364870: 'Adri\\u00e1n  Di\\u00e9guez Grande',
 4424: 'Jonathan  Castro Otto',
 4440: 'Borja  Valle Balonga',
 69978: 'Tomi  Juri\\u0107',
 101623: 'Denis  Glushakov',
 4452: 'Yuri  Berchiche Izeta',
 4476: 'Iago  Herrer\\u00edn Buis\\u00e1n',
 4488: 'Sa\\u00fal  \\u00d1\\u00edguez Esclapez',
 364937: 'Yuning  Zhang',
 4498: 'Lucas  V\\u00e1zquez Iglesias',
 4501: 'Daniel  Carvajal Ramos',
 4509: 'Omar  Mascarell Gonz\\u00e1lez',
 4511: 'Pedro  Mosquera Parada',
 4513: 'Denis  Cheryshev',
 233910: 'Anastasios  Donis',
 70083: 'Danilo Luiz  da Silva',
 70084: 'Alex Sandro  Lobo Silva',
 70086: 'Nicol\\u00e1s Hern\\u00e1n  Otamendi',
 70088: 'Rolando Jorge  Pires da Fonseca',
 70090: 'Ionu\\u021b Cristian  S\\u0103punaru',
 70093: 'Jo\\u00e3o Filipe  Iria Santos Moutinho',
 70095: 'Cristian Gabriel  Rodr\\u00edguez Barrotti',
 70096: 'James David  Rodr\\u00edguez Rubio',
 70100: 'Marc  Janko',
 70112: 'Ezequiel Marcelo  Garay',
 70120: 'Francisco Javier   Garc\\u00eda Fern\\u00e1ndez',
 70122: 'Nemanja  Mati\\u0107',
 70123: 'Axel   Witsel',
 70125: 'Manuel  Agudo Dur\\u00e1n',
 4593: 'Sergio  Mora S\\u00e1nchez',
 70134: 'Rui Pedro  dos Santos Patr\\u00edcio',
 70136: 'Santiago  Arias Naranjo',
 70139: 'Emiliano Adri\\u00e1n  Ins\\u00faa Zapata',
 70140: 'Daniel Filipe  Martins Carri\\u00e7o',
 70156: 'Andr\\u00e9 Mart\\u00edn  Carrillo D\\u00edaz',
 70161: 'Tommaso  Berni',
 70168: 'Elderson Uwa  Echiejile',
 299557: '\\u00c1d\\u00e1m  Nagy',
 135747: 'Danijel  Suba\\u0161i\\u0107',
 4683: 'Alexander  Szymanowski',
 508686: 'Marcel Julian  Lizak',
 299618: 'Nahitan Michel  N\\u00e1ndez Acosta',
 135788: 'Josip  Elez',
 70273: 'Jan  Oblak',
 135810: 'Marko  Pjaca',
 266885: 'Michael  Olunga',
 234138: 'Jan  Repas',
 266917: 'Adama  Traor\\u00e9',
 4780: 'David  Junc\\u00e0 Re\\u00f1\\u00e9',
 4786: 'Iv\\u00e1n  Balliu Campeny',
 4789: 'Carles  Planas Antol\\u00ednez',
 4792: 'Patricio  Gabarr\\u00f3n Gil',
 4805: 'Anaitz  Arbilla Zabala',
 134369: 'Max   Meyer',
 4814: 'Abel Enrique  Aguilar Tapia',
 135901: 'Pedro Miguel  Braga Rebocho',
 135913: 'Marcos Paulo  Mesquita Lopes',
 70381: 'Ricardo Domingos  Barbosa Pereira',
 70389: 'C\\u00e9dric Ricardo  Alves Soares',
 70403: 'Adrien Sebastian  Perruchet Silva',
 70410: '\\u00c9derzito Ant\\u00f3nio  Macedo Lopes',
 4879: 'Carles  Gil de Pareja Vicent',
 4892: 'Jos\\u00e9 Luis  Gay\\u00e1 Pe\\u00f1a',
 4911: 'Jozabed  S\\u00e1nchez Ruiz',
 70451: 'Luis Carlos  Correia Pinto',
 332605: 'Ramadan  Sobhi',
 4936: 'David Sim\\u00f3n  Rodr\\u00edguez Santana',
 136011: 'Mijat  Ga\\u0107inovi\\u0107',
 37714: 'Yassine  El Ghanassy',
 37725: 'Cheikhou  Kouyat\\u00e9',
 37732: 'Lucas Rodrigo  Biglia',
 37734: 'Guillaume  Gillet',
 4969: 'Pedro Tanaus\\u00fa  Dom\\u00ednguez Placeres',
 70507: 'Paulo Andr\\u00e9  Rodrigues de Oliveira',
 37745: 'Jordan Zacharie  Lukaku Menama Mokelenge',
 234359: 'Patrik  Schick',
 267134: 'Roger Beyker  Mart\\u00ednez Tobinson',
 365441: 'Rick  van Drongelen',
 37762: 'William  Silva de Carvalho',
 37796: 'Danijel  Mili\\u010devi\\u0107',
 3441: 'Gabriel  Fern\\u00e1ndez Arenas',
 267185: "Christian  Dell'Orco",
 37824: 'Thomas  Meunier',
 37831: 'Carlos Arturo  Bacca Ahumada',
 37836: 'Maxime  Lestienne',
 37896: 'Eiji  Kawashima',
 5147: 'Anthony Rub\\u00e9n  Lozano Col\\u00f3n',
 234527: 'Alen  Halilovi\\u0107',
 234533: 'Stipe  Perica',
 169002: 'Diego  Rico Salguero',
 5167: 'Mariano  D\\u00edaz Mej\\u00eda',
 70711: 'Edson Andr\\u00e9  Sitoe',
 37948: 'Alfre\\u00f0  Finnbogason',
 5195: 'Juli\\u00e1n Omar  Ramos Su\\u00e1rez',
 38015: 'Stef  Peeters',
 38021: 'Kevin  De Bruyne',
 5268: 'Sergio  Le\\u00f3n Limones',
 5290: 'Mikel  Rico Moreno',
 5295: 'Odion Jude  Ighalo',
 70834: 'Guilherme  Costa Marques',
 38079: 'Daniel Tawiah  Opare',
 38082: 'Felipe  Trevizan Martins',
 38084: 'Birkir  Bjarnason',
 224801: 'Ihlas  Bebou',
 38093: 'Michy  Batshuayi Tunga',
 38094: 'Imoh  Ezekiel',
 38095: 'Serge  Gakp\\u00e9',
 103668: 'Ilya  Kutepov',
 103682: 'Roman  Zobnin',
 5383: 'Antonio  Garc\\u00eda Aranda',
 5400: 'Gerard  Moreno Balaguero',
 70956: 'R\\u00faben Afonso  Borges Semedo',
 70959: 'Edgar Miguel  I\\u00e9',
 70965: 'Jo\\u00e3o M\\u00e1rio  Naval da Costa Eduardo ',
 365880: 'Daichi  Kamada',
 70974: 'Iuri Jos\\u00e9   Pican\\u00e7o Medeiros',
 70975: 'Armindo  Tu\\u00e9 Na Bangna',
 70981: 'Fernando  Mar\\u00e7al de Oliveira',
 300373: 'Antonio  Barreca',
 5472: 'Luis  Hern\\u00e1ndez Rodr\\u00edguez',
 5542: 'Daniel  Garc\\u00eda Carrillo',
 300485: 'Malcom Filipe  Silva de Oliveira',
 5653: 'Mart\\u00edn Maximiliano  Mantovani',
 28251: 'David  Alcibiade',
 38436: 'Christian Robert  Santos Kwasniewski',
 5677: 'Bruno  Gonz\\u00e1lez Cabrera',
 443324: 'Douglas Luiz  Soares de Paulo',
 366197: 'Marlon  S\\u00fcndermann',
 300669: 'Andrija  Bali\\u0107',

In [8]:
matches['gameweek']

0      38
1      38
2      38
3      38
4      38
       ..
375     1
376     1
377     1
378     1
379     1
Name: gameweek, Length: 380, dtype: int64

In [9]:
matches.label.iloc[0].split(' - ')[1].split(', ')

['AFC Bournemouth', '1']

In [10]:
def split_label(string):
    home, away_home_score, away_score = string.split(' - ')
    away, home_score = away_home_score.split(', ')
    return home, away, home_score, away_score

In [11]:
matches['home_team'],matches['away_team'], matches['home_score'], matches['away_score'] = zip(*matches['label'].map(split_label))

In [12]:
scores = matches[['home_team', 'away_team', 'home_score', 'away_score', 'gameweek']]

In [13]:
teams = matches['home_team'].unique()
teams

array(['Burnley', 'Crystal Palace', 'Huddersfield Town', 'Liverpool',
       'Manchester United', 'Newcastle United', 'Southampton',
       'Swansea City', 'Tottenham Hotspur', 'West Ham United',
       'Manchester City', 'Leicester City', 'Chelsea', 'Arsenal',
       'Everton', 'AFC Bournemouth', 'Watford', 'West Bromwich Albion',
       'Stoke City', 'Brighton & Hove Albion'], dtype=object)

In [14]:
scores['home_score'] = scores['home_score'].astype(np.int)
scores['away_score'] = scores['away_score'].astype(np.int)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
table = {}
for team in teams:
    table[team] = {'goals': 0, 'goals_against': 0, 'points': 0, 'wins': 0, 'draws': 0, 'losses': 0}
for index, game in scores.iterrows():
    home_team = game['home_team']
    away_team = game['away_team']
    away_score = game['away_score']
    home_score = game['home_score']
    #update scores
    table[home_team]['goals'] += home_score
    table[home_team]['goals_against'] += away_score
    table[away_team]['goals'] += away_score
    table[away_team]['goals_against'] += home_score
    #update wins
    if home_score > away_score:
        table[home_team]['wins'] += 1
        table[away_team]['losses'] += 1 
    elif home_score == away_score:
        table[home_team]['draws'] += 1
        table[away_team]['draws'] += 1
    else:
        table[home_team]['losses'] += 1
        table[away_team]['wins'] += 1

In [16]:
table = pd.DataFrame().from_dict(table, orient='index')

In [17]:
table['points'] = table['wins']*3 + table['draws']

In [18]:
table.sort_values(by = 'points')

                        goals  goals_against  points  wins  draws  losses
West Bromwich Albion       31             56      31     6     13      19
Stoke City                 35             68      33     7     12      19
Swansea City               28             56      33     8      9      21
Southampton                37             56      36     7     15      16
Huddersfield Town          28             58      37     9     10      19
Brighton & Hove Albion     34             54      40     9     13      16
Watford                    44             64      41    11      8      19
West Ham United            48             68      42    10     12      16
AFC Bournemouth            45             61      44    11     11      16
Crystal Palace             45             55      44    11     11      16
Newcastle United           39             47      44    12      8      18
Leicester City             56             60      47    12     11      15
Everton                    44             58      49    13     10      15
Burnley                    36             39      54    14     12      12
Arsenal                    74             51      63    19      6      13
Chelsea                    62             38      70    21      7      10
Liverpool                  84             38      75    21     12       5
Tottenham Hotspur          74             36      77    23      8       7
Manchester United          68             28      81    25      6       7
Manchester City           106             27     100    32      4       2

In [19]:
table.to_csv("epl_table.csv")

In [20]:
df = matches
df = df.drop(df.var()[df.var() == 0].index.values, axis=1)
for col in df.columns:
    print(col)

status
gameweek
dateutc
winner
venue
wyId
label
date
referees
duration
teamsData_1646_coachId
teamsData_1646_side
teamsData_1646_score
teamsData_1646_formation_bench
teamsData_1646_formation_lineup
teamsData_1646_formation_substitutions
teamsData_1646_scoreHT
teamsData_1659_coachId
teamsData_1659_side
teamsData_1659_score
teamsData_1659_formation_bench
teamsData_1659_formation_lineup
teamsData_1659_formation_substitutions
teamsData_1659_scoreHT
teamsData_1628_coachId
teamsData_1628_side
teamsData_1628_score
teamsData_1628_formation_bench
teamsData_1628_formation_lineup
teamsData_1628_formation_substitutions
teamsData_1628_scoreHT
teamsData_1627_coachId
teamsData_1627_side
teamsData_1627_score
teamsData_1627_formation_bench
teamsData_1627_formation_lineup
teamsData_1627_formation_substitutions
teamsData_1627_scoreHT
teamsData_1609_coachId
teamsData_1609_side
teamsData_1609_score
teamsData_1609_formation_bench
teamsData_1609_formation_lineup
teamsData_1609_formation_substitutions
teamsData_1609_scoreHT
teamsData_1673_coachId
teamsData_1673_side
teamsData_1673_score
teamsData_1673_formation_bench
teamsData_1673_formation_lineup
teamsData_1673_formation_substitutions
teamsData_1673_scoreHT
teamsData_1651_coachId
teamsData_1651_side
teamsData_1651_score
teamsData_1651_formation_bench
teamsData_1651_formation_lineup
teamsData_1651_formation_substitutions
teamsData_1651_scoreHT
teamsData_1612_coachId
teamsData_1612_side
teamsData_1612_score
teamsData_1612_formation_bench
teamsData_1612_formation_lineup
teamsData_1612_formation_substitutions
teamsData_1612_scoreHT
teamsData_1644_coachId
teamsData_1644_side
teamsData_1644_score
teamsData_1644_formation_bench
teamsData_1644_formation_lineup
teamsData_1644_formation_substitutions
teamsData_1644_scoreHT
teamsData_1611_coachId
teamsData_1611_side
teamsData_1611_score
teamsData_1611_formation_bench
teamsData_1611_formation_lineup
teamsData_1611_formation_substitutions
teamsData_1611_scoreHT
teamsData_1613_coachId
teamsData_1613_side
teamsData_1613_score
teamsData_1613_formation_bench
teamsData_1613_formation_lineup
teamsData_1613_formation_substitutions
teamsData_1613_scoreHT
teamsData_1610_coachId
teamsData_1610_side
teamsData_1610_score
teamsData_1610_formation_bench
teamsData_1610_formation_lineup
teamsData_1610_formation_substitutions
teamsData_1610_scoreHT
teamsData_1625_side
teamsData_1625_score
teamsData_1625_formation_bench
teamsData_1625_formation_lineup
teamsData_1625_formation_substitutions
teamsData_1625_scoreHT
teamsData_1619_coachId
teamsData_1619_side
teamsData_1619_score
teamsData_1619_formation_bench
teamsData_1619_formation_lineup
teamsData_1619_formation_substitutions
teamsData_1619_scoreHT
teamsData_10531_coachId
teamsData_10531_side
teamsData_10531_score
teamsData_10531_formation_bench
teamsData_10531_formation_lineup
teamsData_10531_formation_substitutions
teamsData_10531_scoreHT
teamsData_1639_coachId
teamsData_1639_side
teamsData_1639_score
teamsData_1639_formation_bench
teamsData_1639_formation_lineup
teamsData_1639_formation_substitutions
teamsData_1639_scoreHT
teamsData_1631_coachId
teamsData_1631_side
teamsData_1631_score
teamsData_1631_formation_bench
teamsData_1631_formation_lineup
teamsData_1631_formation_substitutions
teamsData_1631_scoreHT
teamsData_1624_coachId
teamsData_1624_side
teamsData_1624_score
teamsData_1624_formation_bench
teamsData_1624_formation_lineup
teamsData_1624_formation_substitutions
teamsData_1624_scoreHT
teamsData_1623_coachId
teamsData_1623_side
teamsData_1623_score
teamsData_1623_formation_bench
teamsData_1623_formation_lineup
teamsData_1623_formation_substitutions
teamsData_1623_scoreHT
teamsData_1633_coachId
teamsData_1633_side
teamsData_1633_score
teamsData_1633_formation_bench
teamsData_1633_formation_lineup
teamsData_1633_formation_substitutions
teamsData_1633_scoreHT
home_team
away_team
home_score
away_score

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [21]:
week1 = matches[matches.gameweek == 1][['wyId', 'away_team', 'home_team', 'label']]
week1

,wyId,away_team,home_team,label
370,2499724,West Ham United,Manchester United,"Manchester United - West Ham United, 4 - 0"
371,2499725,Tottenham Hotspur,Newcastle United,"Newcastle United - Tottenham Hotspur, 0 - 2"
372,2499720,Manchester City,Brighton & Hove Albion,"Brighton & Hove Albion - Manchester City, 0 - 2"
373,2499721,Burnley,Chelsea,"Chelsea - Burnley, 2 - 3"
374,2499722,Huddersfield Town,Crystal Palace,"Crystal Palace - Huddersfield Town, 0 - 3"
375,2499723,Stoke City,Everton,"Everton - Stoke City, 1 - 0"
376,2499726,Swansea City,Southampton,"Southampton - Swansea City, 0 - 0"
377,2499728,AFC Bournemouth,West Bromwich Albion,"West Bromwich Albion - AFC Bournemouth, 1 - 0"
378,2499727,Liverpool,Watford,"Watford - Liverpool, 3 - 3"
379,2499719,Leicester City,Arsenal,"Arsenal - Leicester City, 4 - 3"

In [22]:
def map_player(x):
    try:
        return players_map[int(x)]
    except:
        return "NA"

In [23]:
for col in df.columns:
    print(col)

status
gameweek
dateutc
winner
venue
wyId
label
date
referees
duration
teamsData_1646_coachId
teamsData_1646_side
teamsData_1646_score
teamsData_1646_formation_bench
teamsData_1646_formation_lineup
teamsData_1646_formation_substitutions
teamsData_1646_scoreHT
teamsData_1659_coachId
teamsData_1659_side
teamsData_1659_score
teamsData_1659_formation_bench
teamsData_1659_formation_lineup
teamsData_1659_formation_substitutions
teamsData_1659_scoreHT
teamsData_1628_coachId
teamsData_1628_side
teamsData_1628_score
teamsData_1628_formation_bench
teamsData_1628_formation_lineup
teamsData_1628_formation_substitutions
teamsData_1628_scoreHT
teamsData_1627_coachId
teamsData_1627_side
teamsData_1627_score
teamsData_1627_formation_bench
teamsData_1627_formation_lineup
teamsData_1627_formation_substitutions
teamsData_1627_scoreHT
teamsData_1609_coachId
teamsData_1609_side
teamsData_1609_score
teamsData_1609_formation_bench
teamsData_1609_formation_lineup
teamsData_1609_formation_substitutions
teamsData_1609_scoreHT
teamsData_1673_coachId
teamsData_1673_side
teamsData_1673_score
teamsData_1673_formation_bench
teamsData_1673_formation_lineup
teamsData_1673_formation_substitutions
teamsData_1673_scoreHT
teamsData_1651_coachId
teamsData_1651_side
teamsData_1651_score
teamsData_1651_formation_bench
teamsData_1651_formation_lineup
teamsData_1651_formation_substitutions
teamsData_1651_scoreHT
teamsData_1612_coachId
teamsData_1612_side
teamsData_1612_score
teamsData_1612_formation_bench
teamsData_1612_formation_lineup
teamsData_1612_formation_substitutions
teamsData_1612_scoreHT
teamsData_1644_coachId
teamsData_1644_side
teamsData_1644_score
teamsData_1644_formation_bench
teamsData_1644_formation_lineup
teamsData_1644_formation_substitutions
teamsData_1644_scoreHT
teamsData_1611_coachId
teamsData_1611_side
teamsData_1611_score
teamsData_1611_formation_bench
teamsData_1611_formation_lineup
teamsData_1611_formation_substitutions
teamsData_1611_scoreHT
teamsData_1613_coachId
teamsData_1613_side
teamsData_1613_score
teamsData_1613_formation_bench
teamsData_1613_formation_lineup
teamsData_1613_formation_substitutions
teamsData_1613_scoreHT
teamsData_1610_coachId
teamsData_1610_side
teamsData_1610_score
teamsData_1610_formation_bench
teamsData_1610_formation_lineup
teamsData_1610_formation_substitutions
teamsData_1610_scoreHT
teamsData_1625_side
teamsData_1625_score
teamsData_1625_formation_bench
teamsData_1625_formation_lineup
teamsData_1625_formation_substitutions
teamsData_1625_scoreHT
teamsData_1619_coachId
teamsData_1619_side
teamsData_1619_score
teamsData_1619_formation_bench
teamsData_1619_formation_lineup
teamsData_1619_formation_substitutions
teamsData_1619_scoreHT
teamsData_10531_coachId
teamsData_10531_side
teamsData_10531_score
teamsData_10531_formation_bench
teamsData_10531_formation_lineup
teamsData_10531_formation_substitutions
teamsData_10531_scoreHT
teamsData_1639_coachId
teamsData_1639_side
teamsData_1639_score
teamsData_1639_formation_bench
teamsData_1639_formation_lineup
teamsData_1639_formation_substitutions
teamsData_1639_scoreHT
teamsData_1631_coachId
teamsData_1631_side
teamsData_1631_score
teamsData_1631_formation_bench
teamsData_1631_formation_lineup
teamsData_1631_formation_substitutions
teamsData_1631_scoreHT
teamsData_1624_coachId
teamsData_1624_side
teamsData_1624_score
teamsData_1624_formation_bench
teamsData_1624_formation_lineup
teamsData_1624_formation_substitutions
teamsData_1624_scoreHT
teamsData_1623_coachId
teamsData_1623_side
teamsData_1623_score
teamsData_1623_formation_bench
teamsData_1623_formation_lineup
teamsData_1623_formation_substitutions
teamsData_1623_scoreHT
teamsData_1633_coachId
teamsData_1633_side
teamsData_1633_score
teamsData_1633_formation_bench
teamsData_1633_formation_lineup
teamsData_1633_formation_substitutions
teamsData_1633_scoreHT
home_team
away_team
home_score
away_score

In [24]:
games = []
for index, game in week1.iterrows():
    df = datasets.load('wyscout', match_id = game.wyId).to_pandas()
    teams = df.team_id.unique()
    df['team'] = df['team_id'].apply(lambda x: teams_map[int(x)])
    df['player'] = df['player_id'].apply(map_player)
    df['opponent'] = np.where(df['team_id'] == teams[0], teams_map[int(teams[1])], teams_map[int(teams[0])])
    games.append(df)

In [25]:
games[0][['team', 'opponent']]

                   team           opponent
0     Manchester United    West Ham United
1     Manchester United    West Ham United
2     Manchester United    West Ham United
3     Manchester United    West Ham United
4     Manchester United    West Ham United
...                 ...                ...
1641    West Ham United  Manchester United
1642    West Ham United  Manchester United
1643  Manchester United    West Ham United
1644    West Ham United  Manchester United
1645  Manchester United    West Ham United

[1646 rows x 2 columns]

In [26]:
gameweek1 = pd.concat(games)

In [27]:
eventdf = gameweek1.groupby(['team', 'event_type']).size().reset_index()
eventdf[eventdf.event_type == 'PASS'].sort_values(by=0, ascending = False)

                       team event_type    0
73          Manchester City       PASS  795
119       Tottenham Hotspur       PASS  738
9                   Arsenal       PASS  657
3           AFC Bournemouth       PASS  639
95              Southampton       PASS  562
30                  Chelsea       PASS  552
44                  Everton       PASS  539
80        Manchester United       PASS  511
66                Liverpool       PASS  499
125                 Watford       PASS  427
37           Crystal Palace       PASS  422
141         West Ham United       PASS  409
111            Swansea City       PASS  378
23                  Burnley       PASS  335
52        Huddersfield Town       PASS  329
103              Stoke City       PASS  325
59           Leicester City       PASS  292
133    West Bromwich Albion       PASS  284
88         Newcastle United       PASS  277
15   Brighton & Hove Albion       PASS  226

In [28]:
eventdf.event_type.unique()

array(['CARD', 'FOUL_COMMITTED', 'GENERIC:generic', 'PASS', 'RECOVERY',
       'SHOT', 'TAKE_ON', 'BALL_OUT'], dtype=object)

In [29]:
eventdf[eventdf.groupby('event_type')[0].transform(max) == eventdf[0]]

                  team       event_type    0
11             Arsenal             SHOT   27
28             Chelsea             CARD    6
43             Everton  GENERIC:generic    5
56      Leicester City         BALL_OUT   84
65           Liverpool  GENERIC:generic    5
67           Liverpool         RECOVERY   81
73     Manchester City             PASS  795
78   Manchester United   FOUL_COMMITTED   17
99          Stoke City         BALL_OUT   84
128            Watford          TAKE_ON  266

In [30]:
eventdf[eventdf[0] == eventdf.groupby('event_type')[0].transform('max')]

                  team       event_type    0
11             Arsenal             SHOT   27
28             Chelsea             CARD    6
43             Everton  GENERIC:generic    5
56      Leicester City         BALL_OUT   84
65           Liverpool  GENERIC:generic    5
67           Liverpool         RECOVERY   81
73     Manchester City             PASS  795
78   Manchester United   FOUL_COMMITTED   17
99          Stoke City         BALL_OUT   84
128            Watford          TAKE_ON  266

In [31]:
teams = []
events = []
scores = []
score_type = []
for event in eventdf.event_type.unique():
    if event == 'GENERIC:generic':
        continue
    maxs = eventdf[eventdf[0] == eventdf[eventdf.event_type == event].max()[0]]
    mins = eventdf[eventdf[0] == eventdf[eventdf.event_type == event].min()[0]]
    for index, entry in maxs.iterrows():
        teams.append(entry.team)
        events.append(event)
        scores.append(entry[0])
        score_type.append('max')
    for index, entry in mins.iterrows():
        teams.append(entry.team)
        events.append(event)
        scores.append(entry[0])
        score_type.append('min')
maxminstats = {'teams': teams, 'events': events, 'scores': scores, 'score_type': score_type}
df = pd.DataFrame.from_dict(maxminstats)

In [32]:
eventdf.columns = ['team', 'event', 'score']
eventdf.to_csv('gameweek1.csv', index = False)

In [33]:
df[df.events == 'CARD']

                     teams events  scores score_type
0   Brighton & Hove Albion   CARD       6        max
1   Brighton & Hove Albion   CARD       6        max
2                  Chelsea   CARD       6        max
3           Crystal Palace   CARD       6        max
4         Newcastle United   CARD       6        max
5          AFC Bournemouth   CARD       1        min
6                  Burnley   CARD       1        min
7           Crystal Palace   CARD       1        min
8                  Everton   CARD       1        min
9           Leicester City   CARD       1        min
10        Newcastle United   CARD       1        min
11        Newcastle United   CARD       1        min
12              Stoke City   CARD       1        min
13              Stoke City   CARD       1        min
14            Swansea City   CARD       1        min
15    West Bromwich Albion   CARD       1        min

In [34]:
cards = eventdf[eventdf['event'] == 'CARD']

In [35]:
cards.to_csv("cards.csv", index = False)

In [36]:
gameweek1.iloc[88]

event_id                            178494422
event_type                               PASS
result                               COMPLETE
success                                  True
period_id                                   1
timestamp                          225.825971
end_timestamp                            None
ball_state                               None
ball_owning_team                         None
team_id                                  1611
player_id                              105338
coordinates_x                            0.33
coordinates_y                            0.82
end_coordinates_x                        0.51
end_coordinates_y                        0.87
receiver_player_id                        NaN
is_counter_attack                       False
pass_type                         SIMPLE_PASS
set_piece_type                            NaN
body_part_type                            NaN
goalkeeper_action_type                    NaN
card_type                                 NaN
team                        Manchester United
player                    Henrikh  Mkhitaryan
opponent                      West Ham United
Name: 88, dtype: object

In [37]:
eventdf

                team            event  score
0    AFC Bournemouth             CARD      1
1    AFC Bournemouth   FOUL_COMMITTED      3
2    AFC Bournemouth  GENERIC:generic      2
3    AFC Bournemouth             PASS    639
4    AFC Bournemouth         RECOVERY     62
..               ...              ...    ...
140  West Ham United  GENERIC:generic      2
141  West Ham United             PASS    409
142  West Ham United         RECOVERY     58
143  West Ham United             SHOT      7
144  West Ham United          TAKE_ON    244

[145 rows x 3 columns]

In [38]:
week1plus = gameweek1.groupby(['team', 'event_type']).size().reset_index()

In [39]:
week1neg = gameweek1.groupby(['opponent', 'event_type']).size().reset_index()

In [40]:
week1plus[(week1plus.team == week1neg.opponent) & (week1plus.event_type == week1neg.event_type)]

                team       event_type    0
138  West Ham United             CARD    2
139  West Ham United   FOUL_COMMITTED    5
140  West Ham United  GENERIC:generic    2
141  West Ham United             PASS  409
142  West Ham United         RECOVERY   58
143  West Ham United             SHOT    7
144  West Ham United          TAKE_ON  244

In [41]:
week1neg[week1neg.opponent == 'AFC Bournemouth']

          opponent       event_type    0
0  AFC Bournemouth         BALL_OUT   71
1  AFC Bournemouth             CARD    3
2  AFC Bournemouth   FOUL_COMMITTED   12
3  AFC Bournemouth  GENERIC:generic    1
4  AFC Bournemouth             PASS  284
5  AFC Bournemouth         RECOVERY   46
6  AFC Bournemouth             SHOT   16
7  AFC Bournemouth          TAKE_ON  218

In [42]:
week1plus[week1plus.team == 'AFC Bournemouth']

              team       event_type    0
0  AFC Bournemouth             CARD    1
1  AFC Bournemouth   FOUL_COMMITTED    3
2  AFC Bournemouth  GENERIC:generic    2
3  AFC Bournemouth             PASS  639
4  AFC Bournemouth         RECOVERY   62
5  AFC Bournemouth             SHOT    8
6  AFC Bournemouth          TAKE_ON  218

In [43]:
shots = gameweek1[gameweek1.event_type == 'SHOT']

In [44]:
shotdf = shots.groupby('team').size().reset_index()
shotdf.columns = ['team', 'for']

In [45]:
shotdf['against'] = shots.groupby('opponent').size().reset_index()[0]

In [46]:
shotdf

                      team  for  against
0          AFC Bournemouth    8       16
1                  Arsenal   27        7
2   Brighton & Hove Albion    6       14
3                  Burnley   10       16
4                  Chelsea   16       10
5           Crystal Palace   14        8
6                  Everton    8       10
7        Huddersfield Town    8       14
8           Leicester City    7       27
9                Liverpool   13        8
10         Manchester City   14        6
11       Manchester United   21        7
12        Newcastle United    5       17
13             Southampton   26        4
14              Stoke City   10        8
15            Swansea City    4       26
16       Tottenham Hotspur   17        5
17                 Watford    8       13
18    West Bromwich Albion   16        8
19         West Ham United    7       21

In [47]:
shotdf.to_csv('shotdf.csv', index = False)

In [48]:
games[0].loc[:, ['event_type', 'player_id']]

     event_type player_id
0          PASS      7906
1          PASS    105338
2          PASS     70122
3          PASS      7936
4          PASS      7918
...         ...       ...
1641   RECOVERY      8301
1642   BALL_OUT      None
1643       PASS      None
1644    TAKE_ON     14703
1645    TAKE_ON      None

[1646 rows x 2 columns]

In [49]:
players.columns

Index(['weight', 'firstName', 'middleName', 'lastName', 'currentTeamId',
       'birthDate', 'height', 'wyId', 'foot', 'shortName',
       'currentNationalTeamId', 'passportArea_name', 'passportArea_id',
       'passportArea_alpha3code', 'passportArea_alpha2code', 'role_code2',
       'role_code3', 'role_name', 'birthArea_name', 'birthArea_id',
       'birthArea_alpha3code', 'birthArea_alpha2code'],
      dtype='object')

In [50]:
for col in players.columns:
    print(col)

weight
firstName
middleName
lastName
currentTeamId
birthDate
height
wyId
foot
shortName
currentNationalTeamId
passportArea_name
passportArea_id
passportArea_alpha3code
passportArea_alpha2code
role_code2
role_code3
role_name
birthArea_name
birthArea_id
birthArea_alpha3code
birthArea_alpha2code

In [51]:
player_eventdf = gameweek1.groupby(['player', 'event_type']).size().reset_index()
player_eventdf[player_eventdf.event_type == 'PASS'].sort_values(by=0, ascending = False)

                                   player event_type    0
363                          Harry  Arter       PASS  105
228  David Josu\u00e9  Jim\u00e9nez Silva       PASS  104
342                         Granit  Xhaka       PASS  104
994                    Toby  Alderweireld       PASS  101
52                         Andrew  Surman       PASS  101
..                                    ...        ...  ...
254                         Diafra  Sakho       PASS    2
772                      Oliver  McBurnie       PASS    2
987                        Theo   Walcott       PASS    2
527                    Jonathan   Walters       PASS    1
256                   Divock  Okoth Origi       PASS    1

[276 rows x 3 columns]

In [52]:
player_eventdf[player_eventdf.event_type == 'SHOT'].sort_values(by=0, ascending = False).head(20)

                            player event_type  0
370                    Harry  Kane       SHOT  6
31        Alex  Oxlade-Chamberlain       SHOT  6
155  Christian   Dannemann Eriksen       SHOT  6
717          Mohamed   Salah Ghaly       SHOT  5
478                 Jay  Rodriguez       SHOT  5
630             Manolo  Gabbiadini       SHOT  5
647               Marcus  Rashford       SHOT  5
575               Kevin  De Bruyne       SHOT  4
325     Gabriel Fernando  de Jesus       SHOT  4
344                  Granit  Xhaka       SHOT  4
8                    Aaron  Ramsey       SHOT  4
642        Marcos   Alonso Mendoza       SHOT  4
266         Du\u0161an  Tadi\u0107       SHOT  4
752                Nathan  Redmond       SHOT  4
857                  Robbie  Brady       SHOT  4
869          Romelu  Lukaku Menama       SHOT  4
739             N'Golo  Kant\u00e9       SHOT  3
261         Dominic  Calvert-Lewin       SHOT  3
694                  Maya  Yoshida       SHOT  3
794          Patrick   van Aanholt       SHOT  3

In [53]:
player_eventdf[player_eventdf.event_type == 'FOUL_COMMITTED'].sort_values(by=0, ascending = False).head(20)

                      player      event_type  0
768          Nordin  Amrabat  FOUL_COMMITTED  6
534             Jordan  Ayew  FOUL_COMMITTED  5
798              Paul  Pogba  FOUL_COMMITTED  4
903               Sam  Vokes  FOUL_COMMITTED  4
791    Patrick   van Aanholt  FOUL_COMMITTED  4
283                Emre  Can  FOUL_COMMITTED  3
1041        Wayne  Routledge  FOUL_COMMITTED  3
165   Christopher  Schindler  FOUL_COMMITTED  3
187           Dale  Stephens  FOUL_COMMITTED  3
956     Stefano  Okaka Chuka  FOUL_COMMITTED  3
687             Matty  James  FOUL_COMMITTED  3
89            Bamidele  Alli  FOUL_COMMITTED  3
1046             Wes  Morgan  FOUL_COMMITTED  3
475           Jay  Rodriguez  FOUL_COMMITTED  3
935          Shinji  Okazaki  FOUL_COMMITTED  3
758      Nemanja  Mati\u0107  FOUL_COMMITTED  2
850             Rob  Holding  FOUL_COMMITTED  2
296            Erik  Pieters  FOUL_COMMITTED  2
374      Henrikh  Mkhitaryan  FOUL_COMMITTED  2
723     Morgan  Schneiderlin  FOUL_COMMITTED  2

In [54]:
player_eventdf[player_eventdf.event_type == 'PASS'].sort_values(by=0, ascending = False).head(20)

                                    player event_type    0
363                           Harry  Arter       PASS  105
228   David Josu\u00e9  Jim\u00e9nez Silva       PASS  104
342                          Granit  Xhaka       PASS  104
994                     Toby  Alderweireld       PASS  101
52                          Andrew  Surman       PASS  101
304                    Fernando Luiz  Rosa       PASS   98
764     Nicol\u00e1s Hern\u00e1n  Otamendi       PASS   97
96                             Ben  Davies       PASS   94
520                           John  Stones       PASS   93
287                            Eric   Dier       PASS   90
1029                      Vincent  Kompany       PASS   89
313        Francesc  F\u00e0bregas i Soler       PASS   87
573                       Kevin  De Bruyne       PASS   86
452                        Jan  Vertonghen       PASS   85
732    Moussa Sidi Yaya  Demb\u00e9l\u00e9       PASS   85
696                       Mesut  \u00d6zil       PASS   83
742                                     NA       PASS   80
781                     Oriol  Romeu Vidal       PASS   78
153          Christian   Dannemann Eriksen       PASS   76
589                           Kyle  Walker       PASS   76

In [55]:
gameweek1.groupby(['event_type', 'success']).size()

event_type  success
PASS        False      1518
            True       7507
SHOT        False       216
            True         29
TAKE_ON     False      1793
            True       1776
dtype: int64

In [56]:
shots.groupby(['player', 'success']).size().reset_index()

                                    player  success  0
0                         Aaron  Cresswell    False  1
1                            Aaron  Ramsey    False  3
2                            Aaron  Ramsey     True  1
3                 Abdoulaye  Doucour\u00e9     True  1
4                            Ahmed  Hegazy    False  2
..                                     ...      ... ..
130                          Wayne  Rooney     True  1
131                         Wilfried  Zaha    False  3
132                       Xherdan  Shaqiri    False  1
133  \u00c1lvaro Borja  Morata Mart\u00edn    False  2
134  \u00c1lvaro Borja  Morata Mart\u00edn     True  1

[135 rows x 3 columns]