In [1]:
!pip install kloppy

Collecting kloppy
  Downloading kloppy-3.5.1-py3-none-any.whl (139 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.0/139.0 kB 1.0 MB/s eta 0:00:00
Requirement already satisfied: mypy-extensions in /opt/conda/lib/python3.7/site-packages (from kloppy) (0.4.3)
Requirement already satisfied: python-dateutil<3,>=2.8.1 in /opt/conda/lib/python3.7/site-packages (from kloppy) (2.8.2)
Requirement already satisfied: requests<3,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from kloppy) (2.27.1)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.7/site-packages (from kloppy) (4.1.1)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.7/site-packages (from kloppy) (2022.1)
Requirement already satisfied: lxml<5,>=4.4.0 in /opt/conda/lib/python3.7/site-packages (from kloppy) (4.9.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil<3,>=2.8.1->kloppy) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.0.0->kloppy) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.0.0->kloppy) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.0.0->kloppy) (2022.6.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.0.0->kloppy) (2.0.12)
Installing collected packages: kloppy
Successfully installed kloppy-3.5.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
from kloppy import datasets, wyscout
import json
import pandas as pd
import numpy as np

In [3]:
def load_json(json_path):
    with open(json_path) as f:
        data = json.load(f)
        matches = pd.json_normalize(data, sep = "_")
    return matches

In [4]:
def drop0var(df):
    """
    param: df, a pandas dataframe
    """
    todrop = (df.var()[df.var() == 0]).index.values
    df = df.drop(todrop, axis=1)
    return df

In [5]:
def map_players(x):
    try:
        return player_map[x]
    except:
        return "None"

In [6]:
manu_westham = datasets.load('wyscout', match_id = 2499724)
matchdf = manu_westham.to_pandas()

In [7]:
matches_json = '../input/wyscoutdata/matches/matches_England.json'
players_json = '../input/wyscoutdata/players.json'
matches = load_json(matches_json)
players = load_json(players_json)

In [8]:
player_map = {}
for index, player in players.iterrows():
    player_map[str(player.wyId)] = player.firstName + " " + player.lastName

In [9]:
matches = drop0var(matches)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """

In [10]:
matches

,status,gameweek,dateutc,winner,venue,wyId,label,date,referees,duration,...,teamsData_1623_formation_lineup,teamsData_1623_formation_substitutions,teamsData_1623_scoreHT,teamsData_1633_coachId,teamsData_1633_side,teamsData_1633_score,teamsData_1633_formation_bench,teamsData_1633_formation_lineup,teamsData_1633_formation_substitutions,teamsData_1633_scoreHT
0,Played,38,2018-05-13 14:00:00,1659,Turf Moor,2500089,"Burnley - AFC Bournemouth, 1 - 2","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 385705, 'role': 'referee'}, {'r...",Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Played,38,2018-05-13 14:00:00,1628,Selhurst Park,2500090,"Crystal Palace - West Bromwich Albion, 2 - 0","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 381851, 'role': 'referee'}, {'r...",Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Played,38,2018-05-13 14:00:00,1609,The John Smith's Stadium,2500091,"Huddersfield Town - Arsenal, 0 - 1","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 384965, 'role': 'referee'}, {'r...",Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Played,38,2018-05-13 14:00:00,1612,Anfield,2500092,"Liverpool - Brighton & Hove Albion, 4 - 0","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 385704, 'role': 'referee'}, {'r...",Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Played,38,2018-05-13 14:00:00,1611,Old Trafford,2500093,"Manchester United - Watford, 1 - 0","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 381853, 'role': 'referee'}, {'r...",Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Played,1,2017-08-12 14:00:00,1623,Goodison Park,2499723,"Everton - Stoke City, 1 - 0","August 12, 2017 at 4:00:00 PM GMT+2","[{'refereeId': 385915, 'role': 'referee'}, {'r...",Regular,...,"[{'playerId': 77546, 'ownGoals': '0', 'redCard...","[{'playerIn': 340, 'playerOut': 77546, 'minute...",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,Played,1,2017-08-12 14:00:00,0,St. Mary's Stadium,2499726,"Southampton - Swansea City, 0 - 0","August 12, 2017 at 4:00:00 PM GMT+2","[{'refereeId': 385916, 'role': 'referee'}, {'r...",Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,Played,1,2017-08-12 14:00:00,1627,The Hawthorns,2499728,"West Bromwich Albion - AFC Bournemouth, 1 - 0","August 12, 2017 at 4:00:00 PM GMT+2","[{'refereeId': 379443, 'role': 'referee'}, {'r...",Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
378,Played,1,2017-08-12 11:30:00,0,Vicarage Road Stadium,2499727,"Watford - Liverpool, 3 - 3","August 12, 2017 at 1:30:00 PM GMT+2","[{'refereeId': 378952, 'role': 'referee'}, {'r...",Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,Played,1,2017-08-11 18:45:00,1609,Emirates Stadium,2499719,"Arsenal - Leicester City, 4 - 3","August 11, 2017 at 8:45:00 PM GMT+2","[{'refereeId': 385909, 'role': 'referee'}, {'r...",Regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
for col in matches.columns:
    print(col)

status
gameweek
dateutc
winner
venue
wyId
label
date
referees
duration
teamsData_1646_coachId
teamsData_1646_side
teamsData_1646_score
teamsData_1646_formation_bench
teamsData_1646_formation_lineup
teamsData_1646_formation_substitutions
teamsData_1646_scoreHT
teamsData_1659_coachId
teamsData_1659_side
teamsData_1659_score
teamsData_1659_formation_bench
teamsData_1659_formation_lineup
teamsData_1659_formation_substitutions
teamsData_1659_scoreHT
teamsData_1628_coachId
teamsData_1628_side
teamsData_1628_score
teamsData_1628_formation_bench
teamsData_1628_formation_lineup
teamsData_1628_formation_substitutions
teamsData_1628_scoreHT
teamsData_1627_coachId
teamsData_1627_side
teamsData_1627_score
teamsData_1627_formation_bench
teamsData_1627_formation_lineup
teamsData_1627_formation_substitutions
teamsData_1627_scoreHT
teamsData_1609_coachId
teamsData_1609_side
teamsData_1609_score
teamsData_1609_formation_bench
teamsData_1609_formation_lineup
teamsData_1609_formation_substitutions
teamsData_1609_scoreHT
teamsData_1673_coachId
teamsData_1673_side
teamsData_1673_score
teamsData_1673_formation_bench
teamsData_1673_formation_lineup
teamsData_1673_formation_substitutions
teamsData_1673_scoreHT
teamsData_1651_coachId
teamsData_1651_side
teamsData_1651_score
teamsData_1651_formation_bench
teamsData_1651_formation_lineup
teamsData_1651_formation_substitutions
teamsData_1651_scoreHT
teamsData_1612_coachId
teamsData_1612_side
teamsData_1612_score
teamsData_1612_formation_bench
teamsData_1612_formation_lineup
teamsData_1612_formation_substitutions
teamsData_1612_scoreHT
teamsData_1644_coachId
teamsData_1644_side
teamsData_1644_score
teamsData_1644_formation_bench
teamsData_1644_formation_lineup
teamsData_1644_formation_substitutions
teamsData_1644_scoreHT
teamsData_1611_coachId
teamsData_1611_side
teamsData_1611_score
teamsData_1611_formation_bench
teamsData_1611_formation_lineup
teamsData_1611_formation_substitutions
teamsData_1611_scoreHT
teamsData_1613_coachId
teamsData_1613_side
teamsData_1613_score
teamsData_1613_formation_bench
teamsData_1613_formation_lineup
teamsData_1613_formation_substitutions
teamsData_1613_scoreHT
teamsData_1610_coachId
teamsData_1610_side
teamsData_1610_score
teamsData_1610_formation_bench
teamsData_1610_formation_lineup
teamsData_1610_formation_substitutions
teamsData_1610_scoreHT
teamsData_1625_side
teamsData_1625_score
teamsData_1625_formation_bench
teamsData_1625_formation_lineup
teamsData_1625_formation_substitutions
teamsData_1625_scoreHT
teamsData_1619_coachId
teamsData_1619_side
teamsData_1619_score
teamsData_1619_formation_bench
teamsData_1619_formation_lineup
teamsData_1619_formation_substitutions
teamsData_1619_scoreHT
teamsData_10531_coachId
teamsData_10531_side
teamsData_10531_score
teamsData_10531_formation_bench
teamsData_10531_formation_lineup
teamsData_10531_formation_substitutions
teamsData_10531_scoreHT
teamsData_1639_coachId
teamsData_1639_side
teamsData_1639_score
teamsData_1639_formation_bench
teamsData_1639_formation_lineup
teamsData_1639_formation_substitutions
teamsData_1639_scoreHT
teamsData_1631_coachId
teamsData_1631_side
teamsData_1631_score
teamsData_1631_formation_bench
teamsData_1631_formation_lineup
teamsData_1631_formation_substitutions
teamsData_1631_scoreHT
teamsData_1624_coachId
teamsData_1624_side
teamsData_1624_score
teamsData_1624_formation_bench
teamsData_1624_formation_lineup
teamsData_1624_formation_substitutions
teamsData_1624_scoreHT
teamsData_1623_coachId
teamsData_1623_side
teamsData_1623_score
teamsData_1623_formation_bench
teamsData_1623_formation_lineup
teamsData_1623_formation_substitutions
teamsData_1623_scoreHT
teamsData_1633_coachId
teamsData_1633_side
teamsData_1633_score
teamsData_1633_formation_bench
teamsData_1633_formation_lineup
teamsData_1633_formation_substitutions
teamsData_1633_scoreHT

In [12]:
matchdf = drop0var(matchdf)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """

In [13]:
for col in matchdf.columns:
    print(col)

event_id
event_type
result
success
period_id
timestamp
end_timestamp
ball_state
ball_owning_team
team_id
player_id
coordinates_x
coordinates_y
end_coordinates_x
end_coordinates_y
receiver_player_id
is_counter_attack
pass_type
set_piece_type
body_part_type
goalkeeper_action_type
card_type

In [14]:
matchdf.event_type

0           PASS
1           PASS
2           PASS
3           PASS
4           PASS
          ...
1641    RECOVERY
1642    BALL_OUT
1643        PASS
1644     TAKE_ON
1645     TAKE_ON
Name: event_type, Length: 1646, dtype: object

In [15]:
passes = matchdf[matchdf.event_type == "PASS"]

In [16]:
passes

,event_id,event_type,result,success,period_id,timestamp,end_timestamp,ball_state,ball_owning_team,team_id,...,coordinates_y,end_coordinates_x,end_coordinates_y,receiver_player_id,is_counter_attack,pass_type,set_piece_type,body_part_type,goalkeeper_action_type,card_type
0,178494347,PASS,COMPLETE,True,1,5.546151,None,None,None,1611,...,0.52,0.40,0.44,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
1,178494348,PASS,COMPLETE,True,1,6.708916,None,None,None,1611,...,0.44,0.33,0.75,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
2,178494349,PASS,COMPLETE,True,1,9.612072,None,None,None,1611,...,0.75,0.42,0.76,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
3,178494350,PASS,COMPLETE,True,1,10.718877,None,None,None,1611,...,0.76,0.28,0.36,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
4,178494351,PASS,COMPLETE,True,1,12.728071,None,None,None,1611,...,0.36,0.34,0.12,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1627,178496010,PASS,COMPLETE,True,2,2811.414063,None,None,None,1633,...,0.48,0.63,0.64,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
1628,178496011,PASS,COMPLETE,True,2,2813.917647,None,None,None,1633,...,0.64,0.70,0.34,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
1637,178495976,PASS,None,None,2,2852.050828,None,None,None,1611,...,0.00,0.64,0.68,NaN,False,NaN,GOAL_KICK,NaN,NaN,NaN
1640,178496017,PASS,COMPLETE,True,2,2858.503769,None,None,None,1633,...,0.21,0.05,0.35,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
1643,178495982,PASS,COMPLETE,True,2,2879.021252,None,None,None,1611,...,1.00,0.93,0.91,NaN,False,HAND_PASS,THROW_IN,NaN,NaN,NaN

In [17]:
players.columns

Index(['weight', 'firstName', 'middleName', 'lastName', 'currentTeamId',
       'birthDate', 'height', 'wyId', 'foot', 'shortName',
       'currentNationalTeamId', 'passportArea_name', 'passportArea_id',
       'passportArea_alpha3code', 'passportArea_alpha2code', 'role_code2',
       'role_code3', 'role_name', 'birthArea_name', 'birthArea_id',
       'birthArea_alpha3code', 'birthArea_alpha2code'],
      dtype='object')

In [18]:
players[players.wyId == 7906]

,weight,firstName,middleName,lastName,currentTeamId,birthDate,height,wyId,foot,shortName,...,passportArea_id,passportArea_alpha3code,passportArea_alpha2code,role_code2,role_code3,role_name,birthArea_name,birthArea_id,birthArea_alpha3code,birthArea_alpha2code
2900,63,Juan Manuel,,Mata Garc\u00eda,1611,1988-04-28,170,7906,left,Juan Mata,...,724,ESP,ES,MD,MID,Midfielder,Spain,724,ESP,ES

In [19]:
matchdf.player_id

0         7906
1       105338
2        70122
3         7936
4         7918
         ...
1641      8301
1642      None
1643      None
1644     14703
1645      None
Name: player_id, Length: 1646, dtype: object

In [20]:
matchdf['player_name'] = matchdf.player_id.apply(map_players)

In [21]:
matchdf[['event_type', 'player_id', 'player_name', 'timestamp']]

     event_type player_id                   player_name    timestamp
0          PASS      7906  Juan Manuel Mata Garc\u00eda     5.546151
1          PASS    105338            Henrikh Mkhitaryan     6.708916
2          PASS     70122            Nemanja Mati\u0107     9.612072
3          PASS      7936                    Paul Pogba    10.718877
4          PASS      7918                    Phil Jones    12.728071
...         ...       ...                           ...          ...
1641   RECOVERY      8301                      Joe Hart  2862.313235
1642   BALL_OUT      None                          None  2866.414500
1643       PASS      None                          None  2879.021252
1644    TAKE_ON     14703         Marko Arnautovi\u0107  2883.667683
1645    TAKE_ON      None                          None  2883.667683

[1646 rows x 4 columns]

In [22]:
passes

,event_id,event_type,result,success,period_id,timestamp,end_timestamp,ball_state,ball_owning_team,team_id,...,coordinates_y,end_coordinates_x,end_coordinates_y,receiver_player_id,is_counter_attack,pass_type,set_piece_type,body_part_type,goalkeeper_action_type,card_type
0,178494347,PASS,COMPLETE,True,1,5.546151,None,None,None,1611,...,0.52,0.40,0.44,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
1,178494348,PASS,COMPLETE,True,1,6.708916,None,None,None,1611,...,0.44,0.33,0.75,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
2,178494349,PASS,COMPLETE,True,1,9.612072,None,None,None,1611,...,0.75,0.42,0.76,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
3,178494350,PASS,COMPLETE,True,1,10.718877,None,None,None,1611,...,0.76,0.28,0.36,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
4,178494351,PASS,COMPLETE,True,1,12.728071,None,None,None,1611,...,0.36,0.34,0.12,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1627,178496010,PASS,COMPLETE,True,2,2811.414063,None,None,None,1633,...,0.48,0.63,0.64,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
1628,178496011,PASS,COMPLETE,True,2,2813.917647,None,None,None,1633,...,0.64,0.70,0.34,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
1637,178495976,PASS,None,None,2,2852.050828,None,None,None,1611,...,0.00,0.64,0.68,NaN,False,NaN,GOAL_KICK,NaN,NaN,NaN
1640,178496017,PASS,COMPLETE,True,2,2858.503769,None,None,None,1633,...,0.21,0.05,0.35,NaN,False,SIMPLE_PASS,NaN,NaN,NaN,NaN
1643,178495982,PASS,COMPLETE,True,2,2879.021252,None,None,None,1611,...,1.00,0.93,0.91,NaN,False,HAND_PASS,THROW_IN,NaN,NaN,NaN